.navimg
{
    height: 50px;
    width: 50px;
}
#backgroundimg
    {
    background: url(https://images.unsplash.com/photo-1574607408180-3b72da2969bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    }
.container
{
    background-color:rgb(216, 224, 217);
    opacity: 0.7;
    filter: alpha(opacity=60);
    height: 475px;
    width: 500px;
    border-radius: 10px;
    margin: 50px 200px 100px 350px;
    border: 3px solid blue;
}